extend blocks/template

// Page title
block title
	| Article name

// Page meta-description
block append metatags 
	meta(name='description', content='A description of the page')

block content
	nav.navbar.navbar-default
		.container
			// Brand and toggle get grouped for better mobile display
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a(href="index#top")
					h1.logo Still Point
			// Collect the nav links, forms, and other content for toggling
			#bs-example-navbar-collapse-1.collapse.navbar-collapse			
				ul.nav.navbar-nav.navbar-right
					li
						a(href='index#about-anchor') Lo Studio	
					li
						a(href='index#attivita-anchor') Attività
					li
						a(href='index#gallery-anchor') Gallery
					li
						a(href='index#news-anchor') News	
					li
						a(href='index#contatti-anchor') Contatti		
			// /.navbar-collapse
		// /.container-fluid
	#news-page
			.container
				.row
					.col-xs-12
						.news-article-img
						h2 News title
						span.shares
							i.fa.fa-facebook-official
							i.fa.fa-twitter-square				
						p
							|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							|tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							<br><br>
							|quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							|consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse				
							|cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							|proident, sunt in culpa qui officia deserunt mollit anim id est laborum.				
							|cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							|proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							<br><br>
							|cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							|proident, sunt in culpa qui officia deserunt mollit anim id est laborum.				
							|cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							|proident, sunt in culpa qui officia deserunt mollit anim id est laborum.				
							|cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							|proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							<br><br>
							|cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							|proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							<br><br>
							|cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							|proident, sunt in culpa qui officia deserunt mollit anim id est laborum.