extend blocks/template

// Page title
block title
	| Stillpoint

// Page meta-description
block append metatags 
	meta(name='description', content='A description of the page')

block content	
	// Including header
	include blocks/header
	// Page content	
	.main-carousel
		.slide
		.slide
		.slide
	section#about
		.container-fluid
			.row
				.col-sm-4
					.about-box
						.about-img
							img(src="http://placehold.it/300x250", alt="")
							h2.title Lo Studio
						p 
							|Il percorso verso la salute può nascere da qui, nella quiete del nostro studio, dove la fisioterapia classica si unisce all’osteopatia,  per creare insieme un approccio globale |al processo di guarigione, ristabilendo equilibrio nel fisico e benessere nella persona.  
							<br><br>
							|Partendo dal sintomo e attraverso un’accurata valutazione clinica sarà stabilito un protocollo di trattamento personalizzato.  Le tecniche manuali utilizzate saranno efficaci |sia per la prevenzione sia per la risoluzione dei disturbi che interessano l’apparato muscolo-scheletrico e la sfera viscerale, restituendo al corpo la sua naturale mobilità e |funzionalità.

				.col-sm-4
					.about-box
						.about-img
							img(src="http://placehold.it/300x250", alt="")
							h2.title Manuela Allegra
						p 
							|La passione e il desiderio innato di conoscenza mi hanno da sempre stimolato nella ricerca dei fattori che regolano i processi vitali a ogni livello, disegnando per me un |preciso iter formativo dove ogni passo si è rivelato perfettamente conseguente al precedente, guidandomi in un continuo divenire di scoperte.
							<br><br>
							|Professionalmente nasco nel 1993 come Insegnante di Educazione Fisica dopo aver conseguito il diploma all’ I.S.E.F. di Roma; proseguo gli studi laureandomi in Fisioterapia nel |1996 per poi completare la mia formazione in sei anni di Osteopatia presso il “Centre pour l’Etude, la Richerche et la Diffusion Osteopathiques” . 
							<br><br>
							|Dopo oltre vent’anni di pratica presso strutture accreditate e grazie alle esperienze maturate nel mio percorso di vita,  ho deciso di dare luce al mio sogno realizzando Still |Point, studio di fisioterapia e terapia manuale, uno spazio dedicato alla ricerca della salute.
				.col-sm-4
					.about-box
						.about-img
							img(src="http://placehold.it/300x250", alt="")
							h2.title Perchè Still Point?
						p 
							|In ambito osteopatico lo Still Point si manifesta durante un trattamento come un periodo di quiete percettiva, grazie alla quale è possibile accedere a una conoscenza più |profonda e al manifestarsi della forza terapeutica dinamica, insita in ognuno di noi.
							<br><br>
							|Il nostro intento è di offrire alla persona la possibilità di scoprire insieme i processi che regolano la salute individuale, riconoscendo il valore terapeutico della  “quiete |dinamica”, come punto di partenza verso la guarigione.
	section#attivita
		.container-fluid
			.row.terapia-manuale
				.col-md-6
					.terapia-img
				.col-md-6
					.attivita-box
						h2 Terapia manuale
						p
							|E’ una metodica basata sull’analisi biomeccanica del gesto motorio inserito nella visione globale della persona. Attraverso una serie di tecniche manuali il fisioterapista |agirà su articolazioni, muscoli, legamenti, fasce al fine di correggere e ripristinare una valida funzionalità.
							|Trova indicazione in tutte le patologie dell’apparato locomotore, sia in fase acuta sia cronica.
			.row.rieducazione
				.col-md-6
					.attivita-box
						h2 Rieducazione
						p
							|Il percorso verso la salute può nascere da qui, nella quiete del nostro studio, dove la fisioterapia classica si unisce all’ osteopatia,  per creare insieme un approccio globale |al processo di guarigione, ristabilendo equilibrio nel fisico e benessere nella persona.
						div
						// Nav tabs
						ul.nav.nav-tabs(role='tablist')
							li.active(role='presentation')
								a(href='#home', aria-controls='home', role='tab', data-toggle='tab') Home
							li(role='presentation')
								a(href='#profile', aria-controls='profile', role='tab', data-toggle='tab') Profile
							li(role='presentation')
								a(href='#messages', aria-controls='messages', role='tab', data-toggle='tab') Messages
							li(role='presentation')
								a(href='#settings', aria-controls='settings', role='tab', data-toggle='tab') Settings
						// Tab panes
						.tab-content
							#home.tab-pane.active(role='tabpanel') ...
							#profile.tab-pane(role='tabpanel') ...
							#messages.tab-pane(role='tabpanel') ...
							#settings.tab-pane(role='tabpanel') ...
				.col-md-6
					.rieducazione-img
			.row.ginnastica
				.col-md-6
					.ginnastica-img
				.col-md-6
					.attivita-box
						h2 Ginnastica Posturale
						p
							|Ratur millent pro diossimaio et et fugit omnistemquat et officia nis esequas ut harum faccum quis sam acepedia quidere inullores volo eaque omnis con num, aute et et optam |lacestio te occatem es di quatur magnatius alis unt ad magnam que vene num ex ea explaborpore de sed quam latem dem.
							<br><br>
							|Ehenis aut ut faceptatiis simentia culligendit, nullaut aliquid ebitae peria sinvelis essitatur, santio. Itatem simendebit que voluptatem as minctia musanti unturis dolendantus |miligendant |aut occus reperuntis mil molum fugitat iorrum eum nam re seque volupti onsecte mollorest laut et plandi officipienis dolupta spient.
							<br><br>
							|Eris acessinci aut verspeliti aut omnitiunt fuga. Nequi volupta tionsed quatio distium quundig enissimus.
			.row.riabilitazione
				.col-md-6
					.attivita-box
						h2 Riabilitazione
						p
							|Il percorso verso la salute può nascere da qui, nella quiete del nostro studio, dove la fisioterapia classica si unisce all’ osteopatia,  per creare insieme un approccio globale |al processo di guarigione, ristabilendo equilibrio nel fisico e benessere nella persona. 
							div
							// Nav tabs
							ul.nav.nav-tabs(role='tablist')
								li.active(role='presentation')
									a(href='#home', aria-controls='home', role='tab', data-toggle='tab') Home
								li(role='presentation')
									a(href='#profile', aria-controls='profile', role='tab', data-toggle='tab') Profile
								li(role='presentation')
									a(href='#messages', aria-controls='messages', role='tab', data-toggle='tab') Messages
								li(role='presentation')
									a(href='#settings', aria-controls='settings', role='tab', data-toggle='tab') Settings
							// Tab panes
							.tab-content
								#home.tab-pane.active(role='tabpanel') ...
								#profile.tab-pane(role='tabpanel') ...
								#messages.tab-pane(role='tabpanel') ...
								#settings.tab-pane(role='tabpanel') ... 
				.col-md-6
					.riabilitazione-img
			.row.taping
				.col-md-6
					.taping-img
				.col-md-6
					.attivita-box
						h2 Taping Kinesiologico
						p
							|Ratur millent pro diossimaio et et fugit omnistemquat et officia nis esequas ut harum faccum quis sam acepedia quidere inullores volo eaque omnis con num, aute et et optam |lacestio te occatem es di quatur magnatius alis unt ad magnam que vene num ex ea explaborpore de sed quam latem dem.
							<br><br>
							|Ehenis aut ut faceptatiis simentia culligendit, nullaut aliquid ebitae peria sinvelis essitatur, santio. Itatem simendebit que voluptatem as minctia musanti unturis dolendantus |miligendant aut occus reperuntis mil molum fugitat iorrum eum nam re seque volupti onsecte mollorest laut et plandi officipienis dolupta spient.
							<br><br>
							|Eris acessinci aut verspeliti aut omnitiunt fuga. Nequi volupta tionsed quatio distium quundig enissimus.
	section#gallery
		.container
			.row
				.col-md-3
					img(src="http://placehold.it/250x250", alt="")
				.col-md-3
					img(src="http://placehold.it/250x250", alt="")
				.col-md-3
					img(src="http://placehold.it/250x250", alt="")
				.col-md-3
					img(src="http://placehold.it/250x250", alt="")
				.col-md-3
					img(src="http://placehold.it/250x250", alt="")
				.col-md-3
					img(src="http://placehold.it/250x250", alt="")
				.col-md-3
					img(src="http://placehold.it/250x250", alt="")
				.col-md-3
					img(src="http://placehold.it/250x250", alt="")
				.col-md-3
					img(src="http://placehold.it/250x250", alt="")
				.col-md-3
					img(src="http://placehold.it/250x250", alt="")
				.col-md-3
					img(src="http://placehold.it/250x250", alt="")
				.col-md-3
					img(src="http://placehold.it/250x250", alt="")
	section#news
		.news-carousel
			.news
				img.img-responsive(src="http://placehold.it/450x250", alt="")
				.news-title
					| News Title
				span.date 19/05/2015
				p.news-description
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta consequuntur minima totam. Voluptatibus nostrum velit, quaerat iure? Consequatur consequuntur laborum inventore
					| ullam, odit eius soluta assumenda obcaecati natus repudiandae explicabo!
			.news
				img.img-responsive(src="http://placehold.it/450x250", alt="")
				.news-title
					| News Title
				span.date 19/05/2015
				p.news-description
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa recusandae at cumque corrupti illo officia voluptates autem, in suscipit doloribus maiores ratione error hic
					| tenetur! Ex quisquam voluptatibus quis quasi.
			.news
				img.img-responsive(src="http://placehold.it/450x250", alt="")
				.news-title
					| News Title
				span.date 19/05/2015
				p.news-description
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione ea odit et, quia laborum, voluptatem illum saepe nihil, fugiat rerum, dolore sunt facere. Dolor sed cupiditate et
					| dolore voluptatum, eligendi.
			.news
				img.img-responsive(src="http://placehold.it/450x250", alt="")
				.news-title
					| News Title
				span.date 19/05/2015
				p.news-description
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum obcaecati facere error nobis aut consequatur omnis ad incidunt. Velit et porro itaque vitae molestiae fuga quae
					| iusto voluptates, laudantium vero!
			.news
				img.img-responsive(src="http://placehold.it/450x250", alt="")
				.news-title
					| News Title
				span.date 19/05/2015
				p.news-description
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora voluptas, ad expedita ipsa iusto soluta alias a nam est quibusdam deserunt, nemo quo at, assumenda, praesentium
					| fugiat odio sit sequi.
			.news
				img.img-responsive(src="http://placehold.it/450x250", alt="")
				.news-title
					| News Title
				span.date 19/05/2015
				p.news-description
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta repellendus placeat voluptates quo aut consectetur molestiae et, illo eos veritatis, culpa iure hic, vitae totam
					| nisi provident, tenetur rerum cum.
			.news
				img.img-responsive(src="http://placehold.it/450x250", alt="")
				.news-title
					| News Title
				span.date 19/05/2015
				p.news-description
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus voluptates voluptate explicabo modi, veritatis ipsa ducimus quia non necessitatibus expedita culpa enim, delectus
					| asperiores ab voluptas sed, veniam et fuga.
			.news
				img.img-responsive(src="http://placehold.it/450x250", alt="")
				.news-title
					| News Title
				span.date 19/05/2015
				p.news-description
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis molestias ab beatae vel blanditiis non aspernatur, minus officia natus deleniti quia aliquid iste tempore suscipit
				| nulla ratione numquam earum illum?
	section#quotes
		.quotes-carousel
			.quotes
				blockquote
					| Lorem ipsum dolor sit amet adn
					span A.Heinstein
			.quotes
				blockquote
					| Lorem ipsum dolor sit amet adn
					span A.Heinstein
			.quotes
				blockquote
					| Lorem ipsum dolor sit amet adn
					span A.Heinstein
	// Including footer
	include blocks/footer
	