section {
  padding: 60px 0;
}
section h2 {
  font-family: 'Sanchez';
  color: #fff;
  font-style: italic;
  text-transform: uppercase;
  font-size: 32px;
}
section#news {
  padding: 0;
  background: url(http://placehold.it/1920x600) no-repeat center center;
  width: 100%;
  height: 600px;
  padding: 80px 0;
  background-size: cover;
}
.navbar.shrink h1.logo {
  background: url(../img/logo-shrink.png) no-repeat center center;
  width: 200px;
  height: 108px;
  transition: 0.35s;
  margin: 5px;
}
.navbar.shrink .navbar-right {
  margin-top: 38px;
  transition: 0.35s;
}
.navbar {
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  border: 0;
  border-radius: 0;
  font-family: 'Sanchez';
}
.navbar .container {
  width: 80%;
}
.navbar h1.logo {
  text-indent: -9999px;
  background: url(../img/logo-stillpoint.png) no-repeat center center;
  width: 262px;
  height: 150px;
  margin: 20px 0;
  transition: 0.35s;
}
.navbar .navbar-right {
  margin-top: 68px;
  transition: 0.35s;
}
.navbar .navbar-right li:nth-child(5) a {
  margin-right: 0;
}
.navbar .navbar-right li a {
  text-transform: uppercase;
  font-size: 18px;
  padding: 10px 25px;
  margin-right: 40px;
  color: #439e7c;
  position: relative;
}
.navbar .navbar-right li a:hover {
  color: #439e7c;
}
.navbar .navbar-right li a:hover:after {
  position: absolute;
  content: '';
  bottom: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 8px;
  height: 8px;
  background: #439e7c;
  border-radius: 50%;
}
.main-carousel .slide {
  background: url(../img/slide01.jpg) no-repeat center center;
  width: 100%;
  height: 800px;
  background-size: cover;
}
section#about .about-box {
  padding: 0 80px;
  margin: auto;
}
section#about .about-box .about-img {
  position: relative;
}
section#about .about-box .about-img h2.title {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  background: #439e7c;
  padding: 10px 25px;
  margin: 0;
  text-transform: none;
  font-size: 20px;
}
section#about .about-box img {
  width: 100%;
}
section#about .about-box p {
  text-align: justify;
  padding: 30px 0;
}
section#attivita .attivita-box {
  padding: 60px;
}
section#attivita p {
  color: #fff;
  font-family: 'Open Sans';
  text-align: justify;
  font-size: 17px;
}
section#attivita h3 {
  font-family: 'Open Sans';
  font-size: 18px;
  font-style: italic;
  color: #fff;
}
section#attivita .tab-content {
  padding: 20px;
  border-bottom: 1px solid #fff;
}
section#attivita .tab-content p {
  margin-bottom: 0;
}
section#attivita .nav-tabs li {
  font-size: 18px;
  font-family: 'Sanchez';
  font-style: italic;
}
section#attivita .nav-tabs li.active a {
  background: transparent;
  border: 0;
  border-bottom: 4px solid #fff;
}
section#attivita .nav-tabs li a {
  border-radius: 0;
  padding: 10px 25px;
  color: #fff;
  border: 0;
}
section#attivita .nav-tabs li a:hover,
section#attivita .nav-tabs li a:focus {
  background: transparent;
  color: #fff;
  border-bottom: 4px solid #fff;
}
section#attivita .container-fluid .col-md-6 {
  padding: 0;
}
section#attivita .terapia-manuale {
  background: #63a5c0;
}
section#attivita .terapia-manuale .terapia-img {
  background: url(http://placehold.it/800x600) no-repeat center center;
  width: 100%;
  height: 400px;
  background-size: cover;
}
section#attivita .ginnastica-posturale {
  background: #439e7c;
}
section#attivita .ginnastica-posturale .ginnastica-img {
  background: url(http://placehold.it/800x600) no-repeat center center;
  width: 100%;
  height: 500px;
  background-size: cover;
}
section#attivita .rieducazione {
  background: #885496;
}
section#attivita .rieducazione .rieducazione-img {
  background: url(http://placehold.it/800x600) no-repeat center center;
  width: 100%;
  height: 420px;
  background-size: cover;
}
section#attivita .osteopatia {
  background: #ff8e61;
}
section#attivita .osteopatia .osteopatia-img {
  background: url(http://placehold.it/800x600) no-repeat center center;
  width: 100%;
  height: 650px;
  background-size: cover;
}
section#attivita .riabilitazione {
  background: #26546b;
}
section#attivita .riabilitazione .riabilitazione-img {
  background: url(http://placehold.it/800x600) no-repeat center center;
  width: 100%;
  height: 500px;
  background-size: cover;
}
section#attivita .riabilitazione .nav-tabs li {
  font-size: 16px;
}
section#attivita .riabilitazione .nav-tabs li a {
  padding: 10px 12px;
}
section#gallery .col-md-3 img {
  border-radius: 50%;
  margin: 25px auto;
}
section#news .news {
  padding: 20px;
  margin: 0 40px;
  background: #fff;
  border-radius: 7px;
  height: 90%;
}
section#quotes .slick-prev {
  left: 50px;
}
section#quotes .slick-next {
  right: 50px;
}
section#quotes .quotes {
  text-align: center;
}
section#quotes .quotes span {
  display: block;
}
section#quotes .quotes blockquote {
  border: 0;
}
@media screen and (max-width: 1650px) {
  .navbar .container {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
