footer#contatti
		#contatti-anchor
		#map-canvas		
		.container
			.row.footer
				.divider
				.col-md-6
					h2 Still Point
					h3 Fisioterapia e Terapia manuale
					.row
						.borded
							.col-sm-6
								p 
									i.fa.fa-map-marker
									|	Via Bressanone 5
									<br>
									|	00198 Roma
							.col-sm-6
								p
									i.fa.fa-phone 
									| +39	339 5333244
									<br>
									i.fa.fa-envelope-o
									a(href="mailto:info@stillpoint.it")
										|info@stillpoint.it
					p
						img(src="/img/metro.png", alt="", style="margin-right: 10px")
						| A 200m dalla Metro B fermata “S. Agnese/Annibaliano“
				.col-md-6
					h2 Informazioni
					h3 Scrivici e sarai ricontattato al più presto
					form
						.row
							.col-sm-6
								.form-group(style="margin-bottom: 18px")
									input#exampleInputEmail1.form-control(type='text', placeholder='Nome')
								.form-group
									input#exampleInputPassword1.form-control(type='email', placeholder='Email')
							.col-sm-6
								.form-group
									textarea#exampleInputPassword1.form-control(placeholder='Messaggio', rows='4')
						button.btn.btn-default(type='submit')
							i.fa.fa-paper-plane
							|   Invia
		.container
			.row.copyright
				.col-sm-6
					p Copyright @ Stillpoint 2015. All rights reserved - P.IVA 10247900581
				.col-sm-6
					p.pull-right Design by 
						a(target= "_blank", href="http://officine06.com")
							| Officine06		