@green: #439e7c;
@blue: #63a5c0;
@orange: #ff8e61;
@purple: #885496;
@darkblue: #26546b;
@gray: #828282;


#about-anchor, #gallery-anchor, #attivita-anchor, #news-anchor, #contatti-anchor {
	top: -200px;
	position: relative;
	visibility: hidden;
}

@keyframes orbit {
	from {
		transform: rotate(-134deg) translateX(125px) rotate(134deg)
	}
	to {
		transform: rotate(226deg) translateX(125px) rotate(-226deg)
	}
}

section {
	padding: 60px 0;
	h2 {
		font-family: 'Sanchez';
		color: #fff;
		font-style: italic;
		text-transform: uppercase;
		font-size: 32px;
	}
	&#news {
		padding: 0;
		background: url(../img/news-background.jpg) no-repeat center center;
		width: 100%;		
		padding: 80px 0;
		background-size: cover;
	}
}

// Shrink styles
.navbar.shrink {
	h1.logo {
		background: url(../img/logo-shrink.png) no-repeat center center;
		width: 200px;
		height: 108px;
		transition: 0.35s;
		margin: 5px;
	}
	.navbar-right {
		margin-top: 38px;
		transition: 0.35s;
	}
}
.navbar-default .navbar-toggle {
	margin-top: 40px;
	.icon-bar {
		width: 30px;
		height: 4px;
		background: @green !important;
	}
}

.open-news-modal {
	text-decoration: none;
	&:focus {outline: none; text-decoration: none;}
	&:hover {text-decoration: none;}
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 30px;
  width: auto;
  max-width: 800px;
  margin: 20px auto;
  border-radius: 5px;
  h2 {
  	font-family: 'Sanchez';
  	color: @green;
  	width: 85%;
  	margin: 0px 0 0 0;
  	display: inline-block;
  }
  .date {
			color: @green;			
			font-family: 'Sanchez';
			padding-top: 5px;
			display: block;			
			margin: 0 0 30px 0;
		}
   span.shares {
  	float: right;
  	display: inline;
  	font-size: 30px;
  	color: @green;
  	margin: 0;
  	a {
  		color: @green;
  		&:hover {
  			text-decoration: none;
  			color: @green;
  		}
  	}
  	i {
  		margin: 0 5px;  		
  	}
  }
  p {text-align: justify;}
  .news-img {
  	width: 100%;
  	height: 350px;
  	margin: 20px auto;
  	background: url(http://placehold.it/1200x800) no-repeat center center;
		background-size: cover;
  }
}
