// Importing essentials.less
@import url("essentials.less");
@import url("header.less");
@import url("footer.less");

.main-carousel {
	.slide {
		background: url(../img/slide01.jpg) no-repeat center center;
		width: 100%;
		height: 800px;
		background-size: cover;
	}
}

section#about {
	.about-box {
		padding: 0 80px;
		margin: auto;
		.about-img {
			position: relative;
			h2.title {
				position: absolute;
				bottom: 0;
				width: 100%;
				left: 0;
				background: @green;
				padding: 10px 25px;
				margin: 0;
				text-transform: none;
				font-size: 20px;
			}
		}
		img {width: 100%;}
		p {
			text-align: justify;
			padding: 30px 0;
		}
	}
}

section#attivita {
	.attivita-box {
		padding: 60px;
	}
	p {
		color: #fff;
		font-family: 'Open Sans';
		text-align: justify;
		font-size: 17px;
	}
	h3 {
		font-family: 'Open Sans';
		font-size: 18px;
		font-style: italic;
		color: #fff;
	}
	.tab-content {
		padding: 20px;
		border-bottom: 1px solid #fff;
		p {
			margin-bottom: 0;
		}
	}
	.nav-tabs {
		li {
			font-size: 18px;
			font-family: 'Sanchez';
			font-style: italic;
			&.active a {
				background: transparent;
				border: 0;
				border-bottom: 4px solid #fff;
			}
			a {
				border-radius: 0;
				padding: 10px 25px;
				color: #fff;
				border: 0;
				&:hover, &:focus {
					background: transparent;
					color: #fff;
					border-bottom: 4px solid #fff;
				}
			}
		}
	}
	.container-fluid {
		.col-md-6 {padding: 0;}
	}
	.terapia-manuale {	
		background: @blue;	
		.terapia-img {
			background: url(http://placehold.it/800x600) no-repeat center center;
			width: 100%;
			height: 400px;
			background-size: cover;
		}		
	}
	.ginnastica-posturale {
		background: @green;
		.ginnastica-img {
			background: url(http://placehold.it/800x600) no-repeat center center;
			width: 100%;
			height: 500px;
			background-size: cover;
		}
	}
	.rieducazione {
		background: @purple;
		.rieducazione-img {
			background: url(http://placehold.it/800x600) no-repeat center center;
			width: 100%;
			height: 420px;
			background-size: cover;
		}
	}
	.osteopatia {
		background: @orange;
		.osteopatia-img {
			background: url(http://placehold.it/800x600) no-repeat center center;
			width: 100%;
			height: 650px;
			background-size: cover;
		}
	}
	.riabilitazione {
		background: @darkblue;
		.riabilitazione-img {
			background: url(http://placehold.it/800x600) no-repeat center center;
			width: 100%;
			height: 500px;
			background-size: cover;
		}
		.nav-tabs {
			li {
				font-size: 16px;
				a {
					padding: 10px 12px;
				}
			}
		}
	}
}
section#gallery {
	.col-md-3 {
		text-align: center;
		margin: 20px 0;
		img {
			border-radius: 50%;
			display: inline-block;
			margin: 11px auto;
		}
		.orbit {
			text-align: center;
			border-radius: 50%;
			width: 250px;
			height: 250px;
			border: 4px solid lighten(@green, 40%);
			margin: auto;
			position: relative;			
			.planet {
				width: 18px;
				height: 18px;
				background: @green;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				left: 50%;				
				animation: orbit 18s linear infinite;
				transition: 5s;
				border: 3px solid #fff;				
				margin: -9px 0 0 -9px;
			}
		}
	}
}

section#news {
	.news {
		padding: 20px;
		margin: 0 40px; 
		background: #fff;
		border-radius: 7px;
		height: 550px;
		&:focus {
			outline: none;
		}
		.news-img {
			width: 100%;
			height: 250px;
			background: @gray;
			background-size: cover !important;
			background-position: center center !important;
		}
		h4.news-title {
			font-family: 'Sanchez';
			color: @green;
			font-style: italic;
			font-size: 24px;
			margin-top: 25px;
		}
		.date {
			color: @green;
			border-top: 1px solid @green;
			font-family: 'Sanchez';
			padding-top: 5px;
		}
		.news-description {
			text-align: justify;
			font-family: 'Open Sans';
			margin: 20px 0;
			color: @gray;
		}
	}	
}

section#quotes {
	.slick-prev {
		left: 50px;
	}
	.slick-next {
		right: 50px;
	}
	.quotes {
		text-align: center;
		&:focus {
			outline: none;
		}
		span {
			display: block;			
		}
		blockquote {
			border: 0;			
		}
	}

}


// Importing responsive.less
@import url("responsive.less");