footer#contatti
		#map-canvas		
		.container
			.row.footer
				.divider
				.col-md-6
					h2 Still Point
					h3 Fisioterapia e Terapia manuale
					.row
						.borded
							.col-sm-6
								p 
									|	Via Bressanone 5
									<br>
									|	00198 Roma
							.col-sm-6
								p
									|	06 xxxxxx xxx x
									<br>
									| info@stillpoint.it
					p 
						| A 200 m dalla Metro A lorem ipsum dolor sit amet“
				.col-md-6
					h2 Informazioni
					h3 Scrivici e sarai ricontattato al piu presto